<a href="/dashboard" class="go-back">Dashboard</a>

<article class="new-page">
    <section class="new-form-page">
        <div class="form-heading">
            <h2>Create New Blog Post</h2>
        </div>
        <div class="form-section">
            <form class=".new-blogpost-form">
                <div class="post-title-section">
                    <label for="post-name">Post Name:</label>
                    <input type="text" id="post-name" name="post-name" />
                </div>
                <div class="post-details">
                    <label for="post-details">Post Details:</label>
                    <textarea class="entry-field" id="post-details" name="post-details"></textarea>
                </div>
                <button type="submit" class="btn">📌Post📌</button>
            </form>
        </div>
    </section>
</article>

<script src="./js/addpost.js"></script>