<a href="/dashboard" class="go-back">Dashboard</a>
<br>
<br>

{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-details"></textarea>
    </div>

    <div>
        <button type="submit">Sumbit Comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}